.container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  .shopNewItem {
    width: 12rem;
    height: 18rem;
    background-color: gray;
    .shopNewTitle {
      font-size: 2rem;
      text-align: center;
      height: 100%;
      margin: auto;
      vertical-align: middle;
      width: 50%;
      margin-top: 3rem;
    }
  }
}
