.aboutUsContainer {
  color: white;
  background-color: black;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  .aboutUsParagraph {
    text-align: justify;
    font-size: 18px;
  }
}
