.shopNewContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .shopNewItem {
    width: 10rem;
    height: 20rem;
    background-color: gray;
    .shopNewTitle {
      width: 10rem;
      height: 20rem;
      background-color: gray;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 36px;
      text-decoration: underline;
      text-align: center;
      padding: 2rem 2rem 2rem 2rem;
      font-weight: lighter;
    }
  }
}
