@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: raleway;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.siteLogo {
  width: 149px;
  height: 30px;
}

p {
  color: white;
}

.collectionHeadingFont {
  font-family: "Dancing Script", cursive;
}

.connectWithTitle {
  font-family: "Autowide";
}
